/Makefile.am
/alloca.c
/alloca.in.h
/areadlink-with-size.c
/areadlink.c
/areadlink.h
/asnprintf.c
/asprintf.c
/at-func.c
/basename.c
/c-ctype.c
/c-ctype.h
/canonicalize-lgpl.c
/canonicalize.c
/canonicalize.h
/chdir-long.c
/chdir-long.h
/chown.c
/close.c
/creat-safer.c
/dirent.in.h
/dirfd.c
/dirname.c
/dirname.h
/dup-safer.c
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fchdir.c
/fchmodat.c
/fchown-stub.c
/fchownat.c
/fclose.c
/fcntl--.h
/fcntl-safer.h
/fcntl.in.h
/fd-safer.c
/file-set.c
/file-set.h
/filenamecat.c
/filenamecat.h
/float+.h
/float.in.h
/fstatat.c
/getcwd.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/hash-pjw.c
/hash-pjw.h
/hash-triple.c
/hash-triple.h
/hash.c
/hash.h
/intprops.h
/lchown.c
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/mempcpy.c
/memrchr.c
/mkdirat.c
/open-safer.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/pathmax.h
/pipe-safer.c
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/progreloc.c
/readlink.c
/relocatable.c
/relocatable.h
/relocwrapper.c
/same-inode.h
/same.c
/same.h
/save-cwd.c
/save-cwd.h
/setenv.c
/size_max.h
/stdbool.in.h
/stdint.in.h
/stdio-write.c
/stdio.in.h
/stdlib.in.h
/strcasecmp.c
/strdup.c
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/strndup.c
/strnlen.c
/sys_stat.in.h
/unistd--.h
/unistd-safer.h
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/w32sock.h
/wchar.in.h
/xalloc-die.c
/xalloc.h
/xgetcwd.c
/xgetcwd.h
/xmalloc.c
/xreadlink.c
/xreadlink.h
/xsize.h
/xstrndup.c
/xstrndup.h
/close-hook.c
/close-hook.h
/bitrotate.h
/getpagesize.c
/memchr.c
/memchr.valgrind
/stddef.in.h
/basename-lgpl.c
/dirname-lgpl.c
/fcntl.c
/fdopendir.c
/getdtablesize.c
/mkdir.c
/realloc.c
/rmdir.c
/stat.c
/time.in.h
/unlink.c
/unlinkat.c
/cloexec.c
/cloexec.h
/verify.h
/allocator.c
/allocator.h
/careadlinkat.c
/careadlinkat.h
/dosname.h
/fd-hook.c
/fd-hook.h
/filenamecat-lgpl.c
/float.c
/getcwd-lgpl.c
/strerror-override.c
/strerror-override.h
/xalloc-oversized.h
/closedir.c
/dirent-private.h
/dup.c
/filename.h
/fstat.c
/itold.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/opendir.c
/readdir.c
/rewinddir.c
/sys_types.in.h
/bitrotate.c
/statat.c
/stdio.c
/unistd.c
/xsize.c
/fpucw.h
/frexp.c
/frexpl.c
/fseterr.c
/fseterr.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/math.c
/math.in.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/signbitd.c
/signbitf.c
/signbitl.c
/stdio-impl.h
/vfprintf.c
