dink
Makefile.in
Makefile
INSTALL
.deps
aclocal.m4
autom4te.cache
configure
configure.cache
config.log
config.status
config.h.in
config.h
stamp-h1
*.tar
*.tar.gz
*.tar.bz2
*.zip
*~
# Autopackage
freedink.xml
freedink.xml.old
*.package
*.package.meta
