autotools
Makefile.in
Makefile
INSTALL
.deps
aclocal.m4
autom4te.cache
configure
configure.cache
config.log
config.status
config.h.in
config.h
stamp-h1
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.o
*.a
*~
# Autopackage
freedink.xml
freedink.xml.old
*.package
*.package.meta
# my build dirs:
cross
cross-psp
cross-woe
native
# links to dinkdir for testing
dink
# NCC
*.nccout
.tmp.c
# gettext
ABOUT-NLS
intl/
# gnulib
gnulib/po
gnulib/lib/*.h
gnulib/lib/sys/
# emacs
TAGS
# gprof
gmon.out
# anjuta
.anjuta*
*.anjuta
