absolute-header.m4
alloca.m4
canonicalize-lgpl.m4
eealloc.m4
error.m4
exitfail.m4
extensions.m4
getopt.m4
gnulib-common.m4
gnulib-tool.m4
include_next.m4
inline.m4
lib-ld.m4
longlong.m4
malloc.m4
malloca.m4
onceonly_2_57.m4
pathmax.m4
readlink.m4
relocatable-lib.m4
relocatable.m4
setenv.m4
ssize_t.m4
stdbool.m4
stdlib_h.m4
strerror.m4
string_h.m4
unistd_h.m4
xalloc.m4
