Source: freedink
Section: games
Priority: extra
Maintainer: Sylvain Beucler <beuc@beuc.net>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config, libsdl1.2-dev, libsdl-gfx1.2-dev, libsdl-ttf2.0-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libzzip-dev, zip
Standards-Version: 3.7.3
Homepage: http://www.freedink.org/
Vcs-Git: git://git.sv.gnu.org/freedink.git
Vcs-Browser: http://git.savannah.gnu.org/gitweb/?p=freedink.git

Package: freedink
Architecture: any
Depends: ${shlibs:Depends}
Recommends: dfarc2
Description: GNU FreeDink
 Free extension of the Dink Smallwood game engine with emphasis on
 freedom, backward compatibility, portability, documentation, and
 power.
