Makefile.in.in
Makevars.template
Rules-quot
boldquot.sed
en@boldquot.header
en@boldquot.po
en@quot.header
en@quot.po
en@boldquot.insert-header
en@quot.insert-header
remove-potcdate.sed
*.gmo
insert-header.sin
quot.sed
remove-potcdate.sin
POTFILES
stamp-po
freedink.pot
